#1. Load the dataset into python environment

In [76]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import RobustScaler

In [3]:
data=pd.read_csv("/content/titanic_dataset.csv")

In [4]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## 2. Make ‘PassengerId’ as the index column

In [9]:
data = data.set_index('PassengerId')

In [14]:
print(data)

             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3
...               ...     ...
887                 0       2
888                 1       1
889                 0       3
890                 1       1
891                 0       3

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0
...                                                        ...     ...   ...
887                                      Montvila, Rev. Juozas    male  27.0
888                               Graham, Miss. Margaret Edith  female  19.0
889                   Johnston, Miss. Catherine Helen "Carrie"  female   NaN
890                                      Behr, Mr. Karl Howell    male  26.0
891                                        Dooley, Mr. Patrick    male  32.0

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S
...            ...    ...               ...      ...   ...      ...
887              0      0            211536  13.0000   NaN        S
888              0      0            112053  30.0000   B42        S
889              1      2        W./C. 6607  23.4500   NaN        S
890              0      0            111369  30.0000  C148        C
891              0      0            370376   7.7500   NaN        Q

[891 rows x 11 columns]

# 3.3. Check the basic details of the dataset

In [16]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB
None

In [18]:
print(data.describe())

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

# 4. Fill in all the missing values present in all the columns in the dataset

In [19]:
data['Age'] = data['Age'].fillna(data['Age'].mean())

In [22]:
print(data)

             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3
...               ...     ...
887                 0       2
888                 1       1
889                 0       3
890                 1       1
891                 0       3

                                                          Name     Sex  \
PassengerId
1                                      Braund, Mr. Owen Harris    male
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female
3                                       Heikkinen, Miss. Laina  female
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female
5                                     Allen, Mr. William Henry    male
...                                                        ...     ...
887                                      Montvila, Rev. Juozas    male
888                               Graham, Miss. Margaret Edith  female
889                   Johnston, Miss. Catherine Helen "Carrie"  female
890                                      Behr, Mr. Karl Howell    male
891                                        Dooley, Mr. Patrick    male

                   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1            22.000000      1      0         A/5 21171   7.2500   NaN        S
2            38.000000      1      0          PC 17599  71.2833   C85        C
3            26.000000      0      0  STON/O2. 3101282   7.9250   NaN        S
4            35.000000      1      0            113803  53.1000  C123        S
5            35.000000      0      0            373450   8.0500   NaN        S
...                ...    ...    ...               ...      ...   ...      ...
887          27.000000      0      0            211536  13.0000   NaN        S
888          19.000000      0      0            112053  30.0000   B42        S
889          29.699118      1      2        W./C. 6607  23.4500   NaN        S
890          26.000000      0      0            111369  30.0000  C148        C
891          32.000000      0      0            370376   7.7500   NaN        Q

[891 rows x 11 columns]

In [20]:
data['Embarked'] = data['Embarked'].fillna(data['Embarked'].mode()[0])

In [23]:
print(data)

             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3
...               ...     ...
887                 0       2
888                 1       1
889                 0       3
890                 1       1
891                 0       3

                                                          Name     Sex  \
PassengerId
1                                      Braund, Mr. Owen Harris    male
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female
3                                       Heikkinen, Miss. Laina  female
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female
5                                     Allen, Mr. William Henry    male
...                                                        ...     ...
887                                      Montvila, Rev. Juozas    male
888                               Graham, Miss. Margaret Edith  female
889                   Johnston, Miss. Catherine Helen "Carrie"  female
890                                      Behr, Mr. Karl Howell    male
891                                        Dooley, Mr. Patrick    male

                   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1            22.000000      1      0         A/5 21171   7.2500   NaN        S
2            38.000000      1      0          PC 17599  71.2833   C85        C
3            26.000000      0      0  STON/O2. 3101282   7.9250   NaN        S
4            35.000000      1      0            113803  53.1000  C123        S
5            35.000000      0      0            373450   8.0500   NaN        S
...                ...    ...    ...               ...      ...   ...      ...
887          27.000000      0      0            211536  13.0000   NaN        S
888          19.000000      0      0            112053  30.0000   B42        S
889          29.699118      1      2        W./C. 6607  23.4500   NaN        S
890          26.000000      0      0            111369  30.0000  C148        C
891          32.000000      0      0            370376   7.7500   NaN        Q

[891 rows x 11 columns]

# 5. Check and handle outliers in at least 3 columns in the dataset

In [56]:
def handle_outliers_iqr(column):
  Q1 = data[column].quantile(0.25)
  Q3 = data[column].quantile(0.75)
  IQR = Q3 - Q1
  lower_bound = Q1 - 1.5 * IQR
  upper_bound = Q3 + 1.5 * IQR
  return data.loc[(data[column] < lower_bound) | (data[column] > upper_bound)]

In [57]:
outliers_fare = handle_outliers_iqr('Fare')
outliers_age = handle_outliers_iqr('Age')

In [58]:
print(outliers_fare)
print(outliers_age)

             Survived  Pclass  \
PassengerId
2                   1       1
28                  0       1
32                  1       1
35                  0       1
53                  1       1
...               ...     ...
847                 0       3
850                 1       1
857                 1       1
864                 0       3
880                 1       1

                                                          Name     Sex  \
PassengerId
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female
28                              Fortune, Mr. Charles Alexander    male
32              Spencer, Mrs. William Augustus (Marie Eugenie)  female
35                                     Meyer, Mr. Edgar Joseph    male
53                    Harper, Mrs. Henry Sleeper (Myna Haxtun)  female
...                                                        ...     ...
847                                   Sage, Mr. Douglas Bullen    male
850               Goldenberg, Mrs. Samuel L (Edwiga Grabowska)  female
857                 Wick, Mrs. George Dennick (Mary Hitchcock)  female
864                          Sage, Miss. Dorothy Edith "Dolly"  female
880              Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female

                   Age  SibSp  Parch    Ticket      Fare        Cabin Embarked
PassengerId
2            38.000000      1      0  PC 17599   71.2833          C85        C
28           19.000000      3      2     19950  263.0000  C23 C25 C27        S
32           29.699118      1      0  PC 17569  146.5208          B78        C
35           28.000000      1      0  PC 17604   82.1708          NaN        C
53           49.000000      1      0  PC 17572   76.7292          D33        C
...                ...    ...    ...       ...       ...          ...      ...
847          29.699118      8      2  CA. 2343   69.5500          NaN        S
850          29.699118      1      0     17453   89.1042          C92        C
857          45.000000      1      1     36928  164.8667          NaN        S
864          29.699118      8      2  CA. 2343   69.5500          NaN        S
880          56.000000      0      1     11767   83.1583          C50        C

[116 rows x 11 columns]
             Survived  Pclass                                           Name  \
PassengerId
8                   0       3                 Palsson, Master. Gosta Leonard
12                  1       1                       Bonnell, Miss. Elizabeth
16                  1       2               Hewlett, Mrs. (Mary D Kingcome)
17                  0       3                           Rice, Master. Eugene
34                  0       2                          Wheadon, Mr. Edward H
...               ...     ...                                            ...
828                 1       2                          Mallet, Master. Andre
830                 1       1      Stone, Mrs. George Nelson (Martha Evelyn)
832                 1       2                Richards, Master. George Sibley
852                 0       3                            Svensson, Mr. Johan
880                 1       1  Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)

                Sex    Age  SibSp  Parch           Ticket     Fare Cabin  \
PassengerId
8              male   2.00      3      1           349909  21.0750   NaN
12           female  58.00      0      0           113783  26.5500  C103
16           female  55.00      0      0           248706  16.0000   NaN
17             male   2.00      4      1           382652  29.1250   NaN
34             male  66.00      0      0       C.A. 24579  10.5000   NaN
...             ...    ...    ...    ...              ...      ...   ...
828            male   1.00      0      2  S.C./PARIS 2079  37.0042   NaN
830          female  62.00      0      0           113572  80.0000   B28
832            male   0.83      1      1            29106  18.7500   NaN
852            male  74.00      0      0           347060   7.7750   NaN
880          female  56.00      0      1            11767  83.1583   C50

            Embarked
PassengerId
8                  S
12                 S
16                 S
17                 Q
34                 S
...              ...
828                C
830                S
832                S
852                S
880                C

[66 rows x 11 columns]

### 6. Do min max scaling on the feature set (Take ‘Survived’ as target)

In [81]:
features = data.drop('Survived', axis=1)

In [82]:
target = data['Survived']

In [83]:
print(features.dtypes)

Pclass        int64
Name         object
Sex          object
Age         float64
SibSp         int64
Parch         int64
Ticket       object
Fare        float64
Cabin        object
Embarked     object
dtype: object

In [87]:
print(features.columns)

Index(['Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare',
       'Cabin', 'Embarked'],
      dtype='object')

In [89]:
features = features.dropna(subset=['Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare',
       'Cabin', 'Embarked'])

In [94]:
print(features.columns)

Index(['Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare',
       'Cabin', 'Embarked'],
      dtype='object')

In [107]:
features = features.dropna(subset=['Name','Sex','Ticket','Cabin','Embarked'])

In [114]:
features = data.drop('Survived', axis=1)

In [115]:
features['Fare'] = features['Fare'] / 100

In [120]:
print(features.info())

<class 'pandas.core.frame.DataFrame'>
Index: 891 entries, 1 to 891
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Name      891 non-null    object
 2   Sex       891 non-null    object
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Ticket    891 non-null    object
 7   Fare      891 non-null    float64
 8   Cabin     204 non-null    object
 9   Embarked  891 non-null    object
dtypes: float64(2), int64(3), object(5)
memory usage: 76.6+ KB
None